:root {
    --primaryBrand: #4D5AE5;
    --darkColor: #2E2F42;
    --successColor: #31D0AA;
    --text: #434455;
    --subtleText: #8E8F99;
    --accentColor: #E7E9FC;
    --lightColor: #F4F4FD;
    --backgroungColor: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, ul, p, a {
    margin: 0;
}
ul {
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--backgroungColor);
    color: var(--text);
}
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header.container {
    display: flex;
    align-items: center;
}
.nav-header {
    display: flex;
    margin-right: 332px;
    align-items: center;
}
.header-list {
 display: flex;
 gap: 40px;
 margin: 24px 0;
}

.header-contacts {
    font-style: normal;
    display: flex;
}

.header-contact {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
    
}
.header-adress {
    display: flex;
    gap: 40px;

}

.header-contact.link {
    text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
    color: #404BBF
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primaryBrand);
    margin-right: 76px;


    
}
.link.logo {
text-decoration: none;
}
.logo-span {
    color: var(--darkColor);
}

.list {
    list-style: none;
    margin: 0;
}
.page {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--darkColor);
    padding: 24px 0;
    display: block;

}
.page.link {
    text-decoration: none;
}
.page:hover,
.page:focus {
    color:#404BBF; 
}

/* First Section */

.title {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    background-color: var(--darkColor);
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/title/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

    .title-header{
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 496px;
        margin-right: auto;
        margin-bottom: 48px;
        margin-left: auto;
        text-align: center;
      
    }
        .title-button{
            background-color: #4D5AE5;
            font-family: "Roboto", sans-serif;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            cursor: pointer;
            min-width: 169px;
            height: 56px;
            border: none;
            border-radius: 4px;
            display: block;
            margin: auto;
        
        
        }
            .title-button:hover,
            .title-button:focus {
             background-color: #404BBF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        } 

.info {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 24px;


}
.second-section-list {
    display: flex;
    gap: 24px;
    
}
.info-li {
    flex-basis: calc((100% - 72px) / 4);
}
.info-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--darkColor);
    margin-bottom: 8px;
    
    }
    .list-p {
         font-size: 16px;
         line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
    
    }
.offer {
    padding-bottom: 120px;

}
.offer-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--darkColor);
    margin-bottom: 72px;
}
.offer-list {
    display: flex;
    gap: 24px;
justify-content: center;
}
.offer-li {
    width: calc((100% - 48px) / 3);
}
/* .offers-images.link {
    text-decoration: none;

} */
.team{
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

    .team-title{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: var(--darkColor);
        margin-bottom: 72px;
    }
    .fourth-section-list {
        display: flex;
        gap: 24px;
    }
      .team-li {
         background-color: var(--backgroungColor);
        width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    }
    .team-info {
        padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
    }
   .team-info > h3 {
    text-align: center;
    margin-bottom: 8px;
    }
    .team-info > p {
        text-align: center;
    }
.more-info{
    background-color: var(--darkColor);

}
    .logo-footer{
        font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-size: 18px;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--primaryBrand);
    }
   
    .logo-footer.link {
        text-decoration: none;
    }
        .logo-span-footer{
            color: var(--lightColor);
        }

        .more-info {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .logo-footer {
            display: inline-block;
            margin-bottom: 16px;
        }
.more-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        width: 264px;

}
.portfolio-header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px
      rgba(46, 47, 66, 0.08);
}
.portfolio.container {
    display: flex;
    align-items: center;
}
.portfolio-nav-header {
    display: flex;
    align-items: center;
    margin-right: 332px;
}
.portfolio-header-list {
    display: flex;
    gap: 40px;
}

.portfolio-contacts {
    font-style: normal;
    display: flex;
}
.portfolio-contact {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}
.portfolio-contacts-list {
display: flex;
    gap: 40px;
}
.portfolio-contact.link {
    text-decoration: none;
}
.portfolio-contact:hover,
.portfolio-contact:focus {
    color: #404BBF;
}
.offers {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--darkColor);
        margin-bottom: 8px;
}
.portfolio-offers {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.portfolio-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--lightColor);
    color: var(--primaryBrand);
    border: 1px solid var(--accentColor);
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
}
.portfolio-button:hover,
.portfolio-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}
.portfolio-img-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.images-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);;
}
.images-li {
    width: calc((100% - 48px) / 3);
}
.images-info {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
.images.link {
    text-decoration: none;
}
